footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
    border-top: 1px solid @brand-black;

    .copy-info {
      margin: 0 auto;
    }

    .copy-info p {
      flex: 1;
      display: inline-block;
      justify-content: space-around;
    

     a {
        color: @brand-black;
        background-color: @brand-white;
        padding: .25rem;
        text-decoration: none;
      }
    }
    
    @media screen and (min-width: 636px) {
      footer {
        flex-direction: row;

        .copy-info p {
          margin: 1rem auto;
          padding: 2rem 0;
          text-align: left;
        }
      }
    }
  }

