footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    border-top: 1px solid black;


    .copy-info p {
      flex: 1;
      margin: 1rem auto;
      display: inline-block;
      justify-content: space-around;
    

     a {
        color: black;
        background-color: white;
        padding: .25rem;
      }
    }
    
    @media screen and (min-width: 636px) {
      footer {
        flex-direction: row;

        .copy-info p {
          margin: 1rem auto;
          padding: 2rem 0;
          text-align: left;
        }
      }
    }
  }

