/* nav styles */
  
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links a:hover, a:focus {
    background-image: url('/public/images/sword.svg');
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      display: inline-block;
      width: auto;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 2rem;
    }

    .nav-links a:hover, a:focus {
      background-image: url('/public/images/sword.svg');
      background-repeat: no-repeat;
      background-position: right;
      background-size: 2rem;
      padding: 2rem;
    }
  }

  .dark .nav-links a {
    color:white;
  }
  
  .dark .nav-links a:hover, .dark .nav-links a:focus {
    background-image: url('/public/images/sword-dark.svg');
    background-repeat: no-repeat;
    background-position: right;
  }