.tags {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 auto;  
}

.tag {
    margin: 0.25em;
    border: solid 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;

    &__ttrpg {
        background-color: @fuschia;
    }
    &__boardgames {
        background-color: @lime;
    }
    &__videogames {
        background-color: @sky;
    }
    &__music {
        background-color: @rose;
    }
    &__miniatures {
        background-color: @violet;
    }
    &__art {
        background-color: @emerald;
    }
    &__other {
        background-color: @yellow;
    }
}

.tag a {
    text-decoration: none;
    color: black;
}

.tag:hover, .tag:focus {
    color: white;
}

.tag a:hover, .tag a:focus {
    color: white;
}
