html {
    background-color: @brand-white;
    font-family: sans-serif;
  }

html.dark {
  background-color: @brand-black;
  color: @brand-white;
}

html.light {
  background-color: @brand-white;
  color: @brand-black;
}
  
  .dark .nav-links a {
    color: #fff;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  a {
    padding: 0.5rem;
    color: @link-color;
    background-color: @link-bg-color;
    text-align: none;
    text-decoration: none;
  }

  a:hover, a:focus {
    background-color: #ff9776;
  }
