 /* Averia Serif Libre */
 
 @font-face {
    font-family: 'Averia Serif Libre', cursive;
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf') format('ttf');
}
