 /* Averia Serif Libre */
 
 @font-face {
    font-family: 'Averia Serif Libre', cursive;
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Blackwood Castle', cursive;
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/public/fonts/BlackwoodCastle.ttf') format('ttf');
}

@font-face {
    font-family: 'MedievalSharp', cursive;
    font-style: normal;
    font-weight: 400;
    src: local(''), url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap') format('ttf');
}