@background-color: #f1f5f9;
@brand-black: #000;
@brand-white: #fff;

@fuschia: rgb(232 121 249);
@lime: rgb(163 230 53);
@sky: rgb(56 189 248);
@rose: rgb(251 113 133);
@violet: rgb(167 139 250);
@emerald: rgb(52 211 153);
@yellow: rgb(250 204 21);