---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());

const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <main class="BlogStyle">
    <h2>{pageTitle}</h2>
          
          <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
          <ul>
            {sortedPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
          </ul>
          <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
    </main>
</BaseLayout>