---
---
<div class="Hero">
    <img 
    srcset="
    /public/images/castle-road-400w.jpg 400w, 
    /public/images/castle-road-800w.jpg 800w,
    /public/images/castle-road-1600w.jpg 1600w
    "
    sizes="(min-width: 36em) 33.3vw,
    100vw"
    src="/public/images/castle-road-400w.jpg" 
    alt="castle road" 
    loading="lazy"
    >
</div>